@model Entidade.Proposta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="panel">
    <div class="panel-body">
    </div>
</div>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedores.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedores.Nome)
        </dd>

    </dl>

    <div class="panel">
        <div class="panel-heading">Itens da Proposta</div>
        <div class="panel-body">
            @Html.Action("Index", "ItensProposta", new { id = Model.ID })
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
