@model Entidade.ContatoFornecedor

@{
    ViewBag.Title = "Exclusão de Contato do Fornecedor";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="panel">
    <div class="panel-body">
        <h3>Tem certeza que deseja excluir esse item?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Fornecedor.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fornecedor.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefone)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Edit", "Fornecedores", new { id = Model.FornecedorID }, new { @class = "btn btn-default" })
            </div>
            }
        </div>
    </div>
</div>
