@model Entidade.Proposta

@{
    ViewBag.Title = "Exclusão de Cliente";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="panel">
    <div class="panel-body">
        <h3>Tem certeza que deseja excluir esse item?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cliente.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fornecedores.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fornecedores.Nome)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Apagar" class="btn btn-danger" />
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>
